body{
    padding:0px 35px 40px 40px;

}
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black);
}
header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
header img{
    font-size: 1.6rem;
}
header ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.5s;
}
header img{
    border-radius:35px ;
}
.board{
    background-color: rgb(236, 240, 208);
    display: flex;
    padding: 10px;
    gap:20px;
    height: 400px;
    
}
.board1{
 color: black;
 line-height: 1;
 width:50%;
}
.board2{
    width:50%;
}
.board1 h1{
    font-style: inherit;
    font-weight: 200;
    
}
.board p{
color: rgb(45, 39, 39);
font-size:1.15 ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.board1 .button{
    border-color: rgb(211, 139, 5);
}
.board2{
    width: 40px;
    
}






