@import url("https://fonts.googleapis.com/css2?family=poppins&display=swap");

*{
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}
:root{
    --primary:#ff6464;
    --secondary:blue;
    --dark:#21243d;
    --light:gray;
    --white:white;

}
html{
    scroll-behavior: smooth;

}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.head{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
}
.navbar{
    background-color: var(--white);
    box-shadow: 4px 20px 40px rgba(0,0,0,0.1);
    width: 100%;
    height: 60px;

}
.navbar.container{
    width:80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    transition: all 0.5s;
}

.navbar a:hover,
.navbar a:active{
    color: var(--primary);
}

.navbar logo{
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar.menu a{
    padding: 6px 9px;
    font-weight: bold;
}

#hero{
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
}

#hero .navbar.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;

}
#hero.right-col img{
    border-radius: 50%;
    border-bottom: 10px solid var(--hight);
}

.btn {
    padding: 6px 8px;
    border: none;
    color: var(--white);
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 6px;
}

p {
  font-size: 0.8rem;
  text-align: justify;  
}


